#main_container {
  display: flex;
  @media #{$xs} {
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
  }
  @media #{$sm} {
    width: 980px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }
}

aside {
  @media #{$xs} {
    order: 2;
    padding: 0 20px;
  }
  @media #{$sm} {
    width: 200px;
    padding: 40px 0;
    order: 1;
  }
  h2 {
    padding: 0 10px 10px;
  }
  ul {
    li {
      margin: 5px 0;
      a {
        display: block;
        padding: 7px 15px;
        border-radius: 5px;
        text-decoration: none;
        &:hover, &.active {
          background: $blue;
          color: white;
        }
      }
    }
  }
  #google_translate_element {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
  }
}
section#main {
  @media #{$xs} {
    order: 1;
  }
  @media #{$sm} {
    width: 680px;
    order: 2;
  }
  .breadcrumb {
    margin-top: 0;
  }

  article {
    .wio-link {
      position: absolute;
      top: 10px;
      left: 10px;
      background: white;
      padding: 10px;
      border-radius: 10px;
      &:hover {
        background: #ddd;
      }
    }
    h1 {
      font-size: 30px;
      margin: 20px 0 20px;
    }
    .updated_at {
      font-size: 13px;
      color: $gray_text;
    }
    .article_body {
      margin: 30px 0;
      h1, h2 {
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid $gray_border;
        padding-bottom: 10px;
        margin: 40px 0 20px;
      }
      h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 20px 0;
      }
      h4 {
        font-size: 18px;
        font-weight: bold;
        margin: 15px 0;
      }
      p {
        margin: 20px 0;
        line-height: 1.8;
      }
      .block-img {
        img {
          max-width: 100%;
          height: auto;
        }
      }
      ul {
        list-style: disc;
      }
      ol {
        list-style: decimal;
      }
      ol, ul {
        padding-left: 20px;
        line-height: 1.8;
        li {
        }
      }
      em {
        display: inline-block;
        border: 1px solid #ddd;
        background: #f1f1f1;
        padding: 2px 4px;
        margin: 0 2px;
        border-radius: 3px;
      }
      ol.article_process {
        list-style: none;
        padding-left: 40px;
        counter-reset: li;
        > li {
          justify-content: space-between;
          flex-direction: row;
          position: relative;
          margin: 0 0 40px;
          clear: both;
          p:first-child {
            margin-top: 0;
          }
          .thumbnail {
            float: right;
            margin: 0 0 0 20px;
            img {
              max-width: 300px;
            }
          }
          &:before {
            counter-increment: li;
            content: counter(li);
            position: absolute;
            font-size: 30px;
            color: #ccc;
            left: -40px;
            top: -5px;
          }
        }
      }
    }
  }
}
